.clients__title {
  font-size: 28px;
  line-height: 1.17;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}
.clients-list__item {
  width: 100%;
  height: 92px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);
  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92;
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
    flex-basis: calc(100% / 6 - 30px);
  }
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  fill: currentColor;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
