.occupation__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.occupation-list {
  display: flex;
}
.occupation-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.occupation-list__label {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
