.products-filters {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 34px;
  }
}
.products-filters__item {
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
.products-filters__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px;
  border-color: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
.products-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 94px;
  }
  & > .products-list__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
      margin-top: 30px;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
  }
}
.products-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .products-overlay::before,
  &:hover .overlay-text,
  &:focus .products-overlay::before,
  &:focus .overlay-text {
    opacity: 1;
    transform: translateY(0);
  }
  & > .products-list__content {
    flex-grow: 1;
  }
}
.products-overlay {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-overlay__text {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  height: 100%;
}
.products-list__content {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}
.products-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.products-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
