.team {
  background: #f5f4fa;
}
.team__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
.team-list__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    & {
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
.team-list__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-list__position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.team-socials {
  display: flex;
  justify-content: center;
}
.team-socials__item + .team-socials__item {
  margin-left: 10px;
}
.team-socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.team-socials__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team-socials__link:hover &,
  .team-socials__link:focus & {
    fill: #ffffff;
  }
}
